*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    display: block;
}

/*Geral*/
body{
    height: 100dvh;
    display: grid;
    grid-template-areas: 
    "nav section main";
    grid-template-columns: 60px 550px 2fr;
    grid-template-rows: 1fr;
    overflow: hidden; 
}

/*Col 1 = onde esta o perfil*/
nav{
    grid-area: nav;
    background-color: #f7f5f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.container-icons > img {
    border-radius: 100%;
    padding: 7px;
    width: 40px;
}

.container-icons > img:hover{
    background-color: #32A860;;
}


/*Col 2 - Botôes e imagens*/
.container_conversas{
    grid-area: section;
    background-color: #F6F5F4;
    height: 100dvh;       
    display: flex;
    flex-direction: column;
    overflow: hidden;      
}

/*Metade 1*/
.container-cima{
   
    flex-shrink: 0;         
    background-color: #f7f5f2;
}


.container-what, .btn-new-chat{
    display: flex;
}

.container-what > h1 {
    color: #32A860;
    font-size: 25px;
}

.container-what{
padding: 10px;
justify-content: space-between;

}

.btn-new-chat{
    gap: 25px; 
}

#icon-2:hover{
background-color: #32A860;
}

#icon-2{
    padding: 7px;
    border-radius: 20px;
}


form{
padding: 12px;

}

input{
    border-radius: 20px;
    border: 1px #F6F5F4 solid;
    width: 100%;
    background-color: #ebe9e8d4;
    padding: 12px 16px;
    outline: #32A860;
}

.botao{
    border-radius: 15px;
    padding: 6px ;
    font-size: 15px;
    justify-content: space-around;
    border: 1px solid #ebe9e8d4;
    margin: 7px 15px;
    background-color: #ebe9e8d4;
}

.botao:hover{
    background-color: #c2ffd9;
}

/*Metade 2*/

.container-baixo{
flex: 1;
overflow-y: auto;
margin-top: 0;
}

article{
    width: 500px;
    display: grid;
    grid-area: "foto";
    grid-template-columns: 60px 380px 60px ;
    grid-template-rows: 40px 40px;
    grid-template-areas:
        "foto info extra"
        "foto info extra";
    align-items: center;
    column-gap: 10px;
    padding: 10px;
}


#perfil-conversa{
    border-radius: 100%;
    padding: 7px;
    width: 60px;
}

#noti{
    background-color: #32A860;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F5F4;
}

#msg_extensa{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#horas{
    color: #32A860;
}


.container-foto {
    grid-area: foto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-info {
    grid-area: info;
    min-width: 0; 
}

.msn-bol {
    grid-area: extra;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}



main{
    grid-area: main;
    background-image: url(./imgs/whatsapp_bg.png);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
}

header{
    background-color: white;
    border-left: 1px solid grey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.foto-contato-header{
    width: 50px;
    border-radius: 100%;
}

.foto-header-container{
    display: flex;
    gap: 10px;
    align-items: center;

}

.foto-header-container > p{
    font-size: x-large;
    font-weight: 600;
}

.grid-msg{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    row-gap: 10px;
    padding: 10px;
    align-content: safe end;
    overflow-y: auto;
    
}

.icon-header{
    display: flex;
    padding: 7px;
}

.icon-header-separado{
    margin: 10px;
    border-radius: 100%;
    padding: 7px;
}

.icon-header-separado:hover{
background-color: #32A860;
}

#send-msg{
    background-color: white;

}

span{
    display: flex;
    justify-content: end;
    padding: 7px;
}

.recebidas{
    grid-column: 2/14;
    background-color: #f7f5f2;
    
}

.enviadas, .recebidas{
padding: 5px 10px;
border-radius: 15px;
height: fit-content;
align-self: flex-end;
position: relative;
}

.enviadas{
    grid-column: 12/24;
    text-align: end;
    background-color: #D9FDD3;
    place-self: end;
}

.cauda-esquerda{
    border-left: 35px solid transparent;
    border-right: 35px solid #f7f5f2;
    border-bottom: 35px solid transparent;
    position: absolute;
    left: -60px;
    top: 0px;
}

.cauda-direita{
    border-left: 35px solid #D9FDD3;
    border-right: 35px solid transparent;
    border-bottom: 35px solid transparent;
    position: absolute;
    right: -60px;
    top: 0px;
}